<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- IFrame
    
        map 
        Youtube Video
        Koi Website

    -->
    <!-- Show a extenal website -->
    <!-- <iframe src="https://heaventake.com/" frameborder="0" width="1800" height="1000"></iframe> -->
    <!-- Open a map -->
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.6339661624743!2d73.06948229999999!3d33.6925409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbfe8ae4d21af%3A0x8bf154c0f614781!2sPakistan%20Monument%20Museum!5e0!3m2!1sen!2s!4v1750347135819!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <!-- Open Yotube Video -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nAPQmSRJez0?si=UoCIOKi4165DGsbu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>